 <style>
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
        }
        .header {
            background-color: black;
            padding: 10px;
            text-align: center;
        }
        
        .topnav {
        overflow: hidden;
            background-color:cornflowerblue;
            
        }     
        .topnav a{
            float: left;
            display: block;
            color: black;
            font-size: 30px;
            text-align: center;
            font-family:fantasy;
            padding: 0px 16px;
            margin-right: 20px;
            text-decoration: none; 
            font-weight: 200;
        }
        .topnav a:hover {
  background-color: #ddd;
  color: black;
        }
        
div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
     
 
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
     

 }
        

.responsive {
  padding: 10 0px;
  float: left;
width: 24.99999%;
    
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
      h1{
            color: red;
            font-size: 30px;
            text-align-last: center;
            font-family: cursive;
            font-variant-position: super;
            
            
        }
        .ss{
            color:FAF56A;
            font-weight: 200;
            font-size: 30px;
            
            
        }
        .footer{
            font-size: 20px;
            color: white;
 
            
        }
        
</style>